.upperClass {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.informationDiv {
  position: absolute;
  color: white;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 1px 1px 2px pink;
  white-space: pre-line;
}

.backgroundImageDiv > img {
  height: 94dvh;
  width: 98dvw;
  padding: 10px 0px 10px 0px;
}

.backgroundImageDiv {
  position: relative;
}
